:root {
    --color: #33FF33;         /* Terminal text color */
    --background: #000;        /* Terminal background */
    --font: monospace;
    --animation: terminal-blink;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
    font-family: var(--font);
}
